<form [formGroup]="bookForm" (ngSubmit)="addBook()">
  <input type="text" formControlName="name" placeholder="Name" >
  <input type="text" formControlName="photo" placeholder="Photo Path">
  <input type="text" formControlName="nameAuthor" placeholder="Author" required>
  <input type="text" formControlName="obsah" placeholder="Obsah" required>
  <input type="number" formControlName="dostupnostmnozstvo" placeholder="Mnozstvo" required>
  <button type="submit" [disabled]="bookForm.invalid">Add Book</button>
</form>
