.maxWidth {
  max-width: 600px;
}

.card-content {
  display: flex;
  align-items: center;
}

.cssBase {
  width: 100px; 
  height: auto;
  margin-right: 20px;
  
  margin-left: 10px;  
}

.text-content {
  flex: 1;
}


.button {

  margin-left: 10px; 
}

  
  #triangle {
     width: auto; height: auto;
      border-left: 10px solid transparent;
       border-right: 10px solid transparent;
        border-bottom: 10px solid black;
      margin-top: auto;}
      .obsah{
        
        color: black;
      }